<!-- STARTSEITE -->
<div class="container">
  <section >
    <div class="columns">
      <div class="column leftUp">
        <div class="hightSection">
          <h1 class="whiteColorLinks">HOW TO PLAY ?</h1>
        </div>
      </div>
      <div class="column rightUp">
        <div class="hightSection">
          <h1 class="whiteColorRechts">PLAY</h1>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column linksRechts">
          <h2>HIER KOMMT DAS BILD REIN</h2>
      </div>
    </div>

    <div class="columns">
      <div class="column leftDown">
        <div class="hightSection">
          <h1 class="whiteColorLinks">FRIENDS</h1>
        </div>
      </div>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="column rightDown">
        <div class="hightSection">
          <h1 class="whiteColorRechts">ABOUT</h1>
        </div>
      </div>
    </div>
  </section>
</div>


<section id='beigeBackground'>
  <div class='container'>
    <div class="columns">
      <div class="column left">

          <h1 class="blackColorLeft">HOW TO PLAY ?</h1>

      </div>
    </div>
    <h1>Hier kommt noch ein Bild rein</h1>
  </div>

</section>


