<!-- STARTSEITE -->
<div class="container">
  <section *ngIf="!isUserLoggedIn">
    <div class="columns">
      <div class="column leftUp">
        <div class="hightSection">
          <h1 class="whiteColorLeft">HOW TO PLAY ?</h1>
        </div>
      </div>
      <div class="column rightUp">
        <div class="hightSection">
          <h1 class="whiteColorRight">PLAY</h1>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column linksRechts">
        <h1 class="main">QUIZDUELL</h1>
        <button class="button"><a class="linkText" [routerLink]="['/login']">JOIN NOW</a></button>

      </div>
    </div>

    <div class="columns">
      <div class="column leftDown">
        <div class="hightSection" *ngIf="isUserLoggedIn">
          <h1 class="whiteColorLeft"> <a class="linkText" [routerLink]="['/profil']">My Account</a> </h1>
        </div>
        <div class="hightSection" *ngIf="!isUserLoggedIn">
          <h1 class="whiteColorLeft"> <a class="linkText" [routerLink]="['/login']">My Account</a> </h1>
        </div>
      </div>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="column rightDown">
        <div class="hightSection">
          <h1 class="whiteColorRight">ABOUT</h1>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="isUserLoggedIn">
    <div class="columns">
      <div class="column leftUp">
        <div class="hightSection">
        </div>
      </div>
      <div class="column rightUp">
        <div class="hightSection">

        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column linksRechts">
        <h1 class="main">QUIZDUELL</h1>
        <button class="button"><a class="linkText" [routerLink]="['/profil']">PLAY NOW</a></button>

      </div>
    </div>

    <div class="columns">
      <div class="column leftDown">
        <div class="hightSection">
          <h1 class="whiteColorLeft"> <a class="linkText" [routerLink]="['/profil']">My Account</a> </h1>
        </div>
      </div>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="column rightDown">
        <div class="hightSection">
          <h1 class="whiteColorRight">ABOUT</h1>
        </div>
      </div>
    </div>
  </section>
</div>


<section id='beigeBackground'>
  <div class='container'>
    <div class="columns">
      <div class="column left">
        <h1 class="blackColorLeft">HOW TO PLAY ?</h1>
      </div>
    </div>
    <h1>Hier kommt noch ein Bild rein</h1>
  </div>
</section>


