<div class="duell-container">
  <div class="duel view">
    <div class="contentView">
      <div class="div1 question" [ngClass]="question">{{question}}</div>
      <div class="div2 answer" [ngClass]="answer1" (click)="answerButton">{{answer1}}</div>
      <div class="div3 answer" [ngClass]="answer2" (click)="answerButton">{{answer2}}</div>
      <div class="div4 answer" [ngClass]="answer3" (click)="answerButton">{{answer3}}</div>
      <div class="div5 answer" [ngClass]="answer4" (click)="answerButton">{{answer4}}</div>


      <button class="button" (click)="answerButton()">Antwort </button>

    </div>
  </div>
</div>
