.container{
  padding: 0.74rem;
}

.leftUp{
  padding-left: 0;
  border-left: solid 0.125rem rgba(105,105,105, 0.5) ;
  padding-bottom: 15%;
  padding-top: 5%;
  border-right: #de5612 solid 0.125rem;



}
.rightUp{
  padding-right: 0;
  border-right:  solid 0.125rem rgba(105,105,105, 0.5);
  padding-bottom: 15%;
  padding-top: 5%;
  border-left: #de5612 solid 0.125rem;


}
.whiteColorLeft{
  font-size: x-large;
  padding-left: 2%;
  color: whitesmoke;
  border-left: #de5612 solid 0.125rem;

}


.linksRechts{
text-align: center;
  border-left: solid 0.125rem rgba(105,105,105, 0.5) ;
  border-right: solid 0.125rem rgba(105,105,105, 0.5) ;

}
.label{
  color: white;
}


.field {
  width: 25%;
  margin: auto;
  display: block;
}

.button{
  margin: 5%;
}
