<section>
  <div class='container'>
    <div class="columns">
      <div class="column leftUp">

        <h1 class="whiteColorLeft">LOGIN</h1>

      </div>
      <div class="column rightUp">
      </div>
    </div>
    <div class="columns">
      <div class="column linksRechts">
        <div class="field">
          <label class="label">Firstname</label>
          <div class="control">
            <input class="input" type="text" placeholder="Firstname">
          </div>
        </div>
        <div class="field">
          <label class="label">Lastname</label>
          <div class="control">
            <input class="input" type="text" placeholder="Lastname">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Email">
          </div>
        </div>


        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password">
          </div>
          <button class="button">JOIN</button>
          <button class="button">ABORT</button>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column leftUp">

      </div>
      <div class="column rightUp">
      </div>
    </div>
  </div>

</section>
