<div class="container">
  <section>
    <div class="columns">
      <div class="column leftUp">
        <div class="hightSection">
          <h1 class="whiteColorLeft">My Account</h1>
        </div>
      </div>
      <div class="column rightUp">

      </div>
    </div>

    <div class="columns">
      <div class="column leftDown">

      </div>
      <div class="column rightDown">

      </div>
    </div>
  </section>
</div>


<section id='beigeBackground'>
  <div class='container'>
    <div class="columns">
      <div class="column">
        <h1 class="blackColorLeft">History</h1>
      </div>
    </div>
    <table class="historyTable">
      <tr>
        <th>Gegner</th>
        <th>Ergbenis</th>
      </tr>
      <tr>
        <td>DUMMYDATEN1</td>
        <td>DUMMYDATEN1</td>
      </tr>
      <tr>
        <td>DUMMYDATEN2</td>
        <td>DUMMYDATEN2</td>

      </tr>
    </table>
  </div>
</section>


