<div class="container">
  <section>
    <div class="columns">
      <div class="column leftUp">
        <div class="hightSection">
          <h1 class="whiteColorLeft">My Account</h1>
          <p [ngClass]="out" class="out">Spielername:  {{out}}</p>
          <br>
          <br>
          <br>
          <p [ngClass]="out2" class="out">ID:  {{out2}}</p>
        </div>
      </div>
      <div class="column rightUp">

      </div>
    </div>

    <div class="columns">

      <div class="column leftDown">
        <div class="playersList">
          <h2>Spielerliste</h2>
          <table class="playersListTable">
            <thead>
            <tr>
              <th>Spielername</th>
              <th>Status</th>
              <th>Aktionen</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of playersList">
              <td>{{ player.name }}</td>
              <td>

              <span [ngClass]="{'online': player.online, 'offline': !player.online}">
              {{ player.online ? 'Online' : 'Offline' }}
            </span>
              </td>
              <td>

                <button class="addFriend" (click)="addToFriendslist(friendId)">Freund hinzufügen</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="column rightDown">
        <div class="friendsList">
          <h2>Freundesliste</h2>
          <table class="friendsListTable">
            <thead>
            <tr>
              <th>Spielername</th>
              <th>Status</th>
              <th>Aktionen</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let friend of friendsList">
              <td>{{ friend.name }}</td>
              <td>

              <span [ngClass]="{'online': friend.online, 'offline': !friend.online}">
              {{ friend.online ? 'Online' : 'Offline' }}
            </span>
              </td>
              <td>

                <button class="deleteFriend" (click)="deleteFriend(friend)">Freund entfernen</button>

                <button class="startDuel" (click)="startDuel(friend)">Spiel starten</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>
</div>


<section id='beigeBackground'>
  <div class='container'>
    <div class="columns">
      <div class="column">
        <h1 class="blackColorLeft">History</h1>
      </div>
    </div>
    <table class="historyTable">
      <tr>
        <th>Gegner</th>
        <th>Ergbenis</th>
      </tr>
      <tr>
        <td>DUMMYDATEN1</td>
        <td>DUMMYDATEN1</td>
      </tr>
      <tr>
        <td>DUMMYDATEN2</td>
        <td>DUMMYDATEN2</td>

      </tr>
    </table>
  </div>
</section>


