<button class="button addQuestionBtn" (click)="addAnswer()">Neue Frage hinzufügen</button>

<div *ngIf="buttonPressed" class="addQuestion">
  <div class="field">
    <label class="label">Frage: </label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="newQuestion">
    </div>
  </div>

  <div class="field">
    <label class="label">Richtige Antwort: </label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="newQuestionCorrectAnswer">
    </div>
  </div>
  <div class="field">
    <label class="label">Flasche Antworten: </label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="newQuestionFalseAnswer1">
    </div>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="newQuestionFalseAnswer2">
    </div>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="newQuestionFalseAnswer3">
    </div>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="newQuestionFalseAnswer4">
    </div>
  </div>
  <button class="button" (click)="add()">Bestätigen</button>
</div>


<div class="container">
  <ul class="list" id="availableQuestions">
    <li *ngFor="let question of adminOutput; let i = index" class="question-item">
      <button class="button updateQuestionsBTN" (click)="updateQuestion(i)">{{ question.text }}</button>
    </li>
  </ul>
</div>


<div *ngIf="updateButtonPressed" class="updateQuestions">
  <div class="field">
    <label class="label">Id: </label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="QuestionId" readonly>
    </div>
  </div>

  <div class="field">
    <label class="label">Frage überarbeitet: </label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="QuestionUpdate">
    </div>
  </div>
  <div class="field">
    <label class="label">Antworten überarbeitet (Richtig): </label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="QuestionCorrectAnswerUpdate">
    </div>
  </div>
  <div class="field">
    <label class="label">Antworten überarbeitet (Falsch): </label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="editQuestionFalseAnswer1">
    </div>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="editQuestionFalseAnswer2">
    </div>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="editQuestionFalseAnswer3">
    </div>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="editQuestionFalseAnswer4">
    </div>
  </div>
  <button class="button" (click)="updateButton()">Bestätigen</button>
  <button class="button" (click)="DeleteButton()">Delete</button>
</div>



