
<button class="button" (click)="addAnswer()">Neue Frage hinzufügen </button>

<div *ngIf="buttonPressed">
  <label>Frage: </label>
  <input type="text" [(ngModel)]="newQuestion">
  <label>Richtige Antwort: </label>
  <input type="text" [(ngModel)]="newQuestionCorrectAnswer" >
  <label>Flasche Anworten: </label>
  <input type="text" [(ngModel)]="newQuestionFalseAnswer" >
  <button class="button" (click)="add()">Bestätigen</button>
</div>

<div class="container">
  <ul class="list" id="availableQuestions">
    <li *ngFor="let question of adminOutput" class="question-item">  <button class="button updateQuestionsBTN"  (click)="updateQuestion()">{{ question }}  </button>
      </li>

  </ul>

</div>

<div *ngIf="updateButtonPressed">
  <label>ID: </label>
  <input type="text" [(ngModel)]="QuestionId" >
  <label>Frage: </label>
  <input type="text"  [(ngModel)]="QuestionUpdate">
  <label>Richtige Antwort: </label>
  <input type="text" [(ngModel)]="QuestionCorrectAnswerUpdate" >
  <label>Falsche Antworten: </label>
  <input type="text" [(ngModel)]="QuestionFalseAnswersUpdate" >
  <button class="button" (click)="updateButton()">Bestätigen</button>
  <button class="button" (click)="DeleteButton()">Delete</button>
</div>
