
<button class="button" (click)="addAnswer()">Neue Frage hinzufügen </button>

<div *ngIf="buttonPressed">
  <label>Frage: </label>
  <input type="text" [(ngModel)]="newQuestion">
  <label>Richtige Antwort: </label>
  <input type="text" [(ngModel)]="newQuestionCorrectAnswer" >
  <label>Flasche Anworten: </label>
  <input type="text" [(ngModel)]="newQuestionFalseAnswer" >
  <button class="button" (click)="add()">Bestätigen</button>
</div>

<div class="container">
  <ul class="list" id="availableQuestions">
    <li *ngFor="let question of adminOutput" class="question-item">{{ question }}</li>
  </ul>
</div>
