<header>
  <button class="homeButton" *ngIf="isUserLoggedIn" [routerLink]="['/startseite'] ">Home</button>
  <button class="profileButton" *ngIf="isUserLoggedIn" [routerLink]="['/profil']">Profil</button>
  <button class="logoutButton" *ngIf="isUserLoggedIn" (click)="showConfirmationPopup()">Logout</button>
  <div class="confirmationPopup" [ngClass]="{ 'show': sharedService.isConfirmationPopupVisible }">
    <div class="popupContent">
      <p>Wollen Sie sich wirklich ausloggen?</p>
      <button class="button" (click)="logout()">Ja</button>
      <button class="button" (click)="cancelLogout()">Abbrechen</button>
    </div>
  </div>
</header>

