<section>
  <div class='container'>
    <div class="columns">
      <div class="column leftUp">

        <h1 class="whiteColorLeft">About Us</h1>
        <h1>IT2000 Webbasierte Systeme 2</h1>
        <p>
          Sommersemester 23
          Gruppe 4: Ganswint, Stefan, Ndong-Gomo, Cedric Junior, Skorbyashchenskyy, Dmytro, Lars Köhler
        </p>
        <h2>Anforderungen</h2>
        <p>
          - Spielerregistrierung: Jeder Spieler muss sich zunächst registrieren. <br>
          - Freundesliste: Spieler können andere Spieler als Freunde hinzufügen. <br>
          - Online-Status: Spieler können sehen, ob ihre Freunde online sind. <br>
          - Duelle: Spieler können ihre Freunde herausfordern und an Duellen teilnehmen. <br>
          - Quizduell-Funktion: Ein Duell besteht aus zehn Fragen mit jeweils vier Antwortmöglichkeiten. <br>
          - Statistik: Es wird eine Statistik bereitgestellt, in der Spieler ihre Gewinnrate und gegen wen sie gespielt haben einsehen können. <br>
          - Fragenverwaltung: Administratoren haben die Möglichkeit, Fragen zu verwalten. <br>

          Zusätzlich wird eine OpenAPI (Swagger)-Dokumentation implementiert, um die API-Routen zu testen. Die DTOs (Data Transfer Objects) werden mit den OpenAPI-Decorators ausgestattet.
        </p>
        <h2>Technologien und Anforderungen</h2>
        <p>Das Projekt erfüllt die folgenden technischen und fachlichen Anforderungen: <br>

          1. Frontend-Framework: Es wird eines der folgenden Frontend-Frameworks verwendet: Angular, React oder Vue. <br>
          2. Backend-Framework: Das Backend wird mit NestJS entwickelt. <br>
          3. Datenbank: Die Daten werden mit TypeORM und SQLite persistiert. <br>
          4. Websockets: Websockets werden verwendet, um eine benutzerfreundliche Erfahrung zu bieten. <br>
          5. Autorisierung: Es wird eine passende Autorisierung mit Sessions und Rechten implementiert. <br>
          6. Statische Route: Das Frontend ist über eine statische Route von NestJS aus erreichbar, um das NestJS Session-System zu ermöglichen. <br>
        </p>
        <h2>Installation und Ausführung</h2>
        <p>Folgende Schritte sind erforderlich, um das Projekt lokal zum Laufen zu bringen:

          1. Klone das Repository auf deinen lokalen Computer. <br>
          2. Gehe in das Verzeichnis des Frontend-Projekts (Angular, React oder Vue) und führe die entsprechenden Befehle zur Installation der Abhängigkeiten aus. <br>
          3. Gehe in das Verzeichnis des Backend-Projekts (NestJS) und führe die Befehle zur Installation der Abhängigkeiten aus. <br>
          4. Stelle sicher, dass eine lokale SQLite-Datenbank vorhanden ist und konfiguriere die Verbindungsinformationen im Backend. <br>
          5. Starte das Backend mit dem Befehl `npm run start` oder `npm run start:dev`. <br>
          6. Starte das Frontend mit dem Befehl `npm start` oder einem entsprechenden Befehl für das verwendete Framework. <br>
          7. Öffne einen Webbrowser und navigiere zur entsprechenden Adresse, um auf das Frontend zuzugreifen. <br>
        </p>
        <h2>API-Dokumentation</h2>
        <p>Die API-Dokumentation basierend auf der OpenAPI-Spezifikation kann unter folgender URL eingesehen werden: [API-Dokumentation](http://localhost:3000/api/docs).

          Bitte beachte, dass das Projekt gemäß den Anforderungen der Vorlesung umgesetzt wurde und die Funktionen entsprechend implementiert sind.

          Viel Spaß bei der Nutzung des revolutionären Mobile-Games!
        </p>
      </div>
      <div class="column rightUp">
      </div>
    </div>

  </div>

</section>
