<section>
  <div class='container'>
    <div class="columns">
      <div class="column leftUp">

        <h1 class="whiteColorLeft">REGISTER</h1>

      </div>
      <div class="column rightUp">
      </div>
    </div>
    <div class="columns">
      <div class="column linksRechts">
        <div class="glass">
          <div class="field">
            <label class="label is-medium">Register</label>
            <label class="label">Firstname</label>
            <div class="control">
              <input class="input" [(ngModel)]="userFirstName" type="text" placeholder="Firstname">
            </div>
          </div>
          <div class="field">
            <label class="label">Lastname</label>
            <div class="control">
              <input class="input" [(ngModel)]="userLastName" type="text" placeholder="Lastname">
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" [(ngModel)]="userEmail" type="email" placeholder="Email">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" [(ngModel)]="userPassword" type="password" placeholder="Password">
            </div>
            <p [ngClass]="out" class="out">{{out}}</p>

            <a class="linkText" [routerLink]="['']"><button class="button"  (click)="buttonClickedAccept()" >JOIN</button></a>
            <!-- HIer kommt eine NGIF rein um die Inputs zu testen -->
            <button class="button" [routerLink]="[''] ">ABORT</button>
          </div>
          <div class="field">
            <p>Bereits ein Konto?</p>
            <p><a class="linkText" [routerLink]="['/login']">HIER LANG!</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column leftUp">

      </div>
      <div class="column rightUp">
      </div>
    </div>
  </div>

</section>
